
.pbottom{
  position: fixed;
  bottom: -15px !important;
}
.known{
  margin-top: 100px !important;
}
#errorx{
  padding-bottom:10px ;
}

#resultCard{
  padding-bottom: 100px !important;
}
nav{
  border-bottom: 2px solid rgba(185, 185, 185, 0.2);
  position: fixed;
  top: 0px;
  z-index: 100;
}
.mty{
  margin-top: 100px !important;
}
.card1 {
  position: relative;
  width: 290px;
  height: 354px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding:0px 20px 15px 20px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card1::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 364px;
  padding: 0px 10px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  -webkit-transform: translate3d(0, 0, 0) scale(0.95);
          transform: translate3d(0, 0, 0) scale(0.95);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

.card1 p:not(.heading) {
  font-size: 14px;
}

.card1 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card1:hover::after {
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.card1:hover::before {
  -webkit-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
      -ms-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
          transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

@media screen and (max-width: 475px) {
  .alert{
    width: 100% !important;
    font-weight: bold !important;
  }
  nav{
    padding: 0px !important;
    display: flex;
    padding: 10px 10px !important;
    justify-content: space-between;
    align-items: center;
  }
  .navigate{
    width: 140px;
    margin-left: 150px;
    display: flex;
    gap: 10px;
    font-size: 12px !important;
  }
  .navigate>a>img{
    width: 27px !important;
  }
  

  .logotext{
    font-size: 16px !important;
  }
  #resulthorn{
    display: flex;
    justify-content: center;
  }
  #resultCard{
    padding-bottom: 47px !important;
  } 
  .textColor{
    color: rgba(158, 155, 155, 0.5) !important;
  }
}

@media screen and (min-width: 745px) {
  .pbottom{
    position: fixed;
    bottom: -15px !important;
    margin-left: -16px;
  }  
}