nav{
  border-bottom: 2px solid rgba(185, 185, 185, 0.2);

}
.alert{
  width: 600px !important;
}

.submit{
  width: 700px !important;
}

body,html{
  overflow-y: hidden;
}


.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 380px;
}

.form__field {
  font-family: inherit;
  width: 100% !important;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px !important;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}


@media screen and (max-width: 475px) {
  .alert{
    width: 100% !important;
    font-weight: bold !important;
  }
  nav{
    padding: 0px !important;
    display: flex;
    padding: 10px 10px !important;
    justify-content: space-between;
    align-items: center;
  }
  .navigate{
    width: 140px;
    margin-left: 150px;
    display: flex;
    gap: 10px;
    font-size: 12px !important;
  }
  .navigate>a>img{
    width: 27px !important;
  }
  

  .logotext{
    font-size: 16px !important;
  }
  
  .submit{
    width: 100% !important;
  }
  .btnwide{
    width: 300px !important;
  }
  .getall{
    /* border: 2px solid red; */
    padding: 0 20px;
    width: 100% !important;
  }
  .long{
    display: block !important;
    padding: 0px 20px;
    width: 100% !important;
  }
    .form__group {
      position: relative;
      padding: 20px 0 0;
      width: 100%;
      max-width: 800px;
    }
  
    .form__field {
      font-family: inherit;
      width: 100% !important;
      margin-top: 10px;
      border: none;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 17px;
      color: #fff;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
  
    .form__field::placeholder {
      color: transparent;
    }
  
    .form__field:placeholder-shown~.form__label {
      font-size: 17px;
      cursor: text;
      top: 20px;
    }
  
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 12px !important;
      color: #9b9b9b;
      pointer-events: none;
    }
  
    .form__field:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #116399, #38caef);
      border-image-slice: 1;
    }
  
    .form__field:focus~.form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #38caef;
      font-weight: 700;
    }
  
    /* reset input */
    .form__field:required,
    .form__field:invalid {
      box-shadow: none;
    }
}



/* tablet screen */

@media screen and (max-width:745px) {
  .getall{
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    width: 100% !important;
  }
  
  .long{
    display: flex !important;
    flex-direction: column;
    padding: 0px 50px;
    width: 100% !important;
  }

  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px !important;
  }

  .form__field {
    font-family: inherit;
    width: 100% !important;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px !important;
    color: #9b9b9b;
    pointer-events: none;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }

  .form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }

  /* reset input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }
  
}